/* RESET */
@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: #000;
}

input {
  border: none;
}


/* ESTILOS */
body {
  /*background: #000;*/
}

.header {
  width: 100%;
  height: 150px;
  background: #333;
}

.menu {
  width: 100%;
  height: 40px;
  background: #f3f3f3;
}

.menu ul {
  margin: 7px 0 0 7px;
  float: left;
}
.menu ul li {
  display: inline;
  padding: 7px 7px 12px 5px;
  border-right: 1px solid #ccc;
  border-top: 3px solid rgba(255,255,255,0);
  transition: border-top .3s ease-in-out;
  margin-left: -4px;
}


/* DEMONSTRACAO DE SELETORES CSS3. MAIS ACONSELHAVÉL USAR CLASSES NOS ITENS DE LISTA */
.menu ul li:last-child {
  border-right: none;
}
.menu ul li:nth-child(2):hover {
  border-top: 3px solid red;
}
.menu ul li:nth-child(3):hover {
  border-top: 3px solid green;
}
.menu ul li:nth-child(4):hover {
  border-top: 3px solid orange;
}
.menu ul li:nth-child(5):hover {
  border-top: 3px solid orange;
}
.menu ul li:nth-child(6):hover {
  border-top: 3px solid blue;
}
.menu ul li:nth-child(7):hover {
  border-top: 3px solid grey;
}

.menu ul li a {
  font-family: 'Baloo Tamma', cursive;
  font-size: 16px;
}

.menu ul li:nth-child(1) a {
  color: blue;
}
.menu ul li:nth-child(2) a {
  color: red;
}
.menu ul li:nth-child(3) a {
  color: green;
}
.menu ul li:nth-child(4) a {
  color: orange;
}
.menu ul li:nth-child(5) a {
  color: orange;
}
.menu ul li:nth-child(6) a {
  color: blue;
}
.menu ul li:nth-child(7) a {
  color: grey;
}



/* LOGOTIPO */
.logotipo {
  width: 300px;
  height: 60px;
  display: table;
  margin-top: 28px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logotipo img {
  max-width: 100%;
  height: auto;
}




/* INPUT DE BUSCA */
.busca {
  width: 180px;
  padding: 12px;
  display: table;
  float: right;
  margin-top: 32px;
  margin-right: 20px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 6px;
  box-shadow: 3px 3px 5px #000 inset;
  background: #1F1F1F url(../imagens/icon-busca.png) 5px center no-repeat;
  padding-left: 35px;
  transition: width .3s ease-in-out;
}

.busca:focus {
  width: 230px;
}




/* BLOCO DE NOTÍCIAS */
.box-noticias {
  width: 1280px;
  height: auto;
  display: table;
  margin: 0 auto;
  margin-top: 50px;
}

.box-noticias .noticia {
  overflow: hidden;
  position: relative;
}

.box-noticias .noticia img {
  max-width: 100%;
  height: auto;
  position: absolute;
  z-index: 9;
  transition: transform .3s ease-in-out;
}
.box-noticias .noticia .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  float: left;
}
.box-noticias .noticia:hover img {
  transform: scale(1.15);
}

.box-noticias .noticia .categ {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  left: 15px;
}

.box-noticias .noticia .title {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -1.2px;
  line-height: 100%;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.box-noticias .destaque {
  width: 54%;
  height: 465px;
  margin-right: 2%;
  display: table;
  float: left;
  overflow: hidden;
}

.box-noticias .secundaria {
  width: 44%;
  overflow: hidden;
  height: 220px;
  display: table;
  float: left;
}

.box-noticias .secundaria:last-child {
  margin-top: 26px;
}
